<!DOCTYPE html>
<html>
<head>
    <title>Tech Assingment 7</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Collection Dashboard</h1>

    <div id="status">Connecting...</div>
    
    <section id="main-content">
        <div id="heatmap-container">
            <canvas id="heatmap" width="240" height="240"></canvas>
        </div>

    </section>
     
    <h2>Temperature</h2>
    <div id="message"></div>
    <h2>Pixels</h2>
    <div id="pixels"></div>
    <h2>Mac Address</h2>
    <div id="mc"></div>
    <h2>Prediction</h2>
    <div id ="prediction"></div>
    <h2>Confidence</h2>
    <div id = "confidence"></div>


    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>
